.hamburger {
  /* position: fixed;
  left: auto;
  top: 1.5rem;
  right: 3rem;
  bottom: auto; */
  z-index: 9999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-left: auto;
  padding: 20px 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 50px;
  background-color: #ecebe9;
  cursor: pointer;
}

/* .hamburger {
  background-color: #ecebe9;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  align-items: center;
  justify-content: center;
} */


.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #e35e34;
  /* margin-left: auto;
  margin-right: auto; */
  transition: all .8s;
}

.hamburger span:nth-child(1), .hamburger span:nth-child(2) {
  margin-bottom: 7px;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
  width: 38px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
  width: 38px;
}

.sidebar {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: #e35e34;
}